################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Dapper/Dapper/bin/Debug/netcoreapp2.0
/Dapper/.vs/Dapper/v15
/Dapper/Dapper/obj/Debug/netcoreapp2.0
